<!DOCTYPE html>
<html>
	<head>
		<title>CampSite</title>
		<meta name='viewport' content='width=device-width, initial-scale=1'>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="/stylesheets/main.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css">
		<script src="https://kit.fontawesome.com/fb1e4c80a0.js" crossorigin="anonymous"></script>
		<script src="https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js"></script>
		<link href="https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css" rel="stylesheet" />
		<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.2.0/mapbox-gl-geocoder.min.js'></script>
		<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.2.0/mapbox-gl-geocoder.css' type='text/css' />
	</head>
	<body>
	<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
			<a class="navbar-brand" href="/"><i class="fas fa-route"></i> CampSite</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
		<% if(!currentUser){ %>
			<li class="nav-item"><a class="nav-link" href="/login"><i class="fas fa-sign-in-alt"></i> Login</a></li>
			<li class="nav-item"><a class="nav-link" href="/register"><i class="fas fa-user-plus"></i> Register</a></li>
		<% } else { %>
			<li class="nav-item nav-link"><i class="fas fa-user"></i> Signed in as <strong><%= currentUser.username %></strong></li>
			<li class="nav-item"><a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
		<% } %>
		
		
	  </ul>
  </div>
</nav>	
		
<% if(error && error.length > 0) { %>
	<div class="alert alert-danger mb-0" role="alert">
	  <%= error %>
	</div>
<% } %>

<% if(success && success.length > 0) { %>
	<div class="alert alert-success mb-0" role="alert">
	  <%= success %>
	</div>
<% } %>